<%- include('../../shared/includes/head', { pageTitle: 'Order Success' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Successful</h1>
    <p>Order was Successful <a href="/orders">Check details</a></p>
  </main>
<%- include('../../shared/includes/footer') %>